# FILE where original DATA is analyzed and Transformed

Our data is an extract of what we might find in our Google Analytics Data Stored in our Database

## Analysis of the Data

In [16]:
import pandas as pd

df = pd.read_csv("google data/data.csv")
clicks_df = df.loc[df.Click == True]
buy_df = pd.read_csv("google data/purchases.csv")

In [3]:
clicks_df.head()  # df where is located user liking behavior linked to clicked products

,visitNumber,visitId,visitStartTime,date,total_visits,total_hits,total_pageviews,total_timeOnSite,total_bounces,total_newVisits,...,Category,Variant,ProductList,transactionId,Revenue,itemTransactionId,Click,TotalPaid,Price,Quantity
0,2,1470857552,1470857552,20160810,1,5,4,125.0,NaN,NaN,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,99.99,NaN
1,1,1470862136,1470862136,20160810,1,5,4,341.0,NaN,1.0,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,8.79,NaN
2,1,1470848713,1470848713,20160810,1,6,5,106.0,NaN,1.0,...,Home/Apparel/Men's/Men's-T-Shirts/,(not set),Category,NaN,0.0,NaN,True,0.0,16.99,NaN
3,4,1470815734,1470815734,20160810,1,6,3,8.0,NaN,NaN,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN
4,4,1470815734,1470815734,20160810,1,6,3,8.0,NaN,NaN,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN

In [4]:
buy_df.head()

,visitNumber,visitId,visitStartTime,date,total_visits,total_hits,total_pageviews,total_timeOnSite,total_bounces,total_newVisits,...,itemTransactionId,ProductName,ProductSKU,Category,Variant,ProductList,Revenue,TotalCost,Price,Quantity
0,2,1472571985,1472571985,20160830,1,13,11,305,NaN,NaN,...,ORD201608301467,24 oz YouTube Sergeant Stripe Bottle,GGOEYDHJ019399,(not set),Single Option Only,(not set),20.91,7.99,7.99,1
1,1,1472606991,1472606991,20160830,1,13,12,392,NaN,1.0,...,ORD201608301495,Google Laptop and Cell Phone Stickers,GGOEGFKQ020399,(not set),Single Option Only,(not set),112.00,99.50,1.99,50
2,3,1472599227,1472599227,20160830,1,14,12,192,NaN,NaN,...,ORD201608301510,20 oz Stainless Steel Insulated Tumbler,GGOEGDHQ014899,(not set),Single Option Only,(not set),11.24,19.99,19.99,1
3,1,1472594459,1472594459,20160830,1,16,14,685,NaN,1.0,...,ORD201608301546,Google Stretch Fit Hat M/L Navy,GGOEGHPL003214,(not set),M/L,(not set),29.49,21.99,21.99,1
4,3,1472604143,1472604143,20160830,1,16,13,895,NaN,NaN,...,ORD201608301559,Google 17oz Stainless Steel Sport Bottle,GGOEGDHC074099,(not set),Single Option Only,(not set),33.89,18.99,18.99,1

As we can see, the dataframe contains a description of all sifferent features that we can use for creating a valid analysis and further (the recommendation system). The most important part is that this data is obtained from a Google's BigQuery use case in this [Kaggle](https://www.kaggle.com/code/paultimothymooney/how-to-query-the-google-analytics-sample-dataset/notebook?scriptVersionId=5165120)

The most important features were selected from a list of features. I used a query to retrieve the products that were clicked by the users, as well as the confirmed purchases. This, along side some behavioral features like the time on which the users entered the site, the page views, time on site and other, all this can allow us to create behavior clusters in which we can create a user classification system and later classify behaviors into this already formed groups.

In [5]:
buy_df.drop_duplicates(
    subset="transactionId", keep="first", inplace=True
)  # Drop duplicate orders

In [6]:
buy_df["ProductName"].value_counts()  # Products that have being purchased before

Google Men's 100% Cotton Short Sleeve Hero Tee Navy     30
Google Men's  Zip Hoodie                                30
Google Men's 100% Cotton Short Sleeve Hero Tee Black    27
Google Men's 100% Cotton Short Sleeve Hero Tee White    25
Engraved Ceramic Google Mug                             23
                                                        ..
Google Executive Umbrella                                1
Google Accent Insulated Stainless Steel Bottle           1
Gel Roller Pen                                           1
Google Men's Performance Tee Gunmetal                    1
Bic Digital Clic Stic Stylus Pen                         1
Name: ProductName, Length: 248, dtype: int64

In [7]:
clicks_df["ProductName"].value_counts()  # Products that have being clicked

Mistral Rucksack                                          633
Deluge Waterproof Backpack                                575
Oasis Backpack                                            553
Keyboard DOT Sticker                                      552
Google Men's 100% Cotton Short Sleeve Hero Tee White      466
                                                         ...
Google Toddler Tee Fruit Games Cherries                     3
Google Men's Short Sleeve Performance Badge Tee Pewter      2
Gift Card - $250.00                                         1
Google Toddler Tee Fruit Games Lemon                        1
Google Youth Tee Fruit Games Pineapple                      1
Name: ProductName, Length: 266, dtype: int64

We have to see how variables like Hits and Time on Site are distributed.

In [8]:
features_list = [
    "visitNumber",
    "total_visits",
    "total_hits",
    "Price",
    "total_timeOnSite",
    "total_newVisits",
    "total_pageviews",
]


clicks_df.loc[:, features_list].describe().round(
    2
)  # This would be the behavioral features that we have available

,visitNumber,total_visits,total_hits,Price,total_timeOnSite,total_newVisits,total_pageviews
count,20878.00,20878.0,20878.00,20878.00,20863.00,11736.0,20878.00
mean,4.22,1.0,50.96,28.11,923.26,1.0,33.45
std,13.46,0.0,51.92,30.15,1060.52,0.0,32.42
min,1.00,1.0,2.00,0.79,1.00,1.0,1.00
25%,1.00,1.0,17.00,5.99,243.00,1.0,12.00
50%,1.00,1.0,32.00,16.99,547.00,1.0,22.00
75%,3.00,1.0,65.00,34.99,1210.00,1.0,43.00
max,156.00,1.0,301.00,250.00,7508.00,1.0,188.00

## Embeddings

Our system will work with what is called embedding a text in NLP. We take our text, map it into tokens, which are basically small id's for the word. Sometimes words are divided in multiple tokens. Which account for the fact that some words that are very similar or share a common root can be represented similarly. Those tokens are unique id's to the realm of what will be our embeddings realm. Which is nothing more than a vectorized space in which this tokens are represented in a numeric form --> $ \text{token:} i \rightarrow \vec{w_i} = <0.423,3.141,.674, ..., n>$.

When we have a sentence or a paragraph, embeddings are usually the average of all the tokens that we find in that structure, and there we have it, our embedding system. Usually this embeddings spaces are then trained on a corpus of text to represent different features. This is similar to what our brain does with sentences: we remember the nouns, the verbs, the grammar rules, and other complex rules that make our understanding of the language as it is.

On this demo, we use ***multilingual-e5-base*** model for creating a 768 size vector that will account for the features in our product title, which is the main thing we want to use as a driver of recommendations.

In [9]:
import sys

sys.path.append("..")

from main.models import ModelClass

model = ModelClass()

In [8]:
model.create_embeddings("Hello world")  # Use method create embeddings to use it.

array([[ 3.35431285e-02,  4.46086712e-02, -4.48141305e-04,
        -3.62625433e-04,  2.88973264e-02, -3.31031904e-02,
        -1.90947279e-02, -3.67002678e-03,  3.32840942e-02,
         3.20200399e-02, -2.73499619e-02, -1.29014198e-02,
         1.63098887e-01,  3.99894156e-02, -3.45210619e-02,
        -2.77194325e-02,  1.10267121e-02, -2.44755037e-02,
         2.67019086e-02, -1.29492851e-02,  5.62458374e-02,
        -2.56671403e-02,  3.23554426e-02, -3.01293898e-02,
         2.17710696e-02, -9.27064288e-03,  2.39941813e-02,
         1.11178188e-02, -3.06521188e-02,  3.21589038e-02,
         9.67866369e-03, -7.68294372e-03,  3.73637117e-02,
         1.61362011e-02,  3.65321301e-02,  4.55307253e-02,
        -8.69155489e-03, -3.23016718e-02,  4.63906303e-02,
         2.58311220e-02,  1.76636688e-02,  3.31863835e-02,
        -2.47860118e-03, -4.25862223e-02,  2.99789384e-02,
         2.67586531e-03,  1.81598496e-02,  1.37071135e-02,
        -3.10147200e-02, -3.98573913e-02,  2.17524301e-02,
         2.12536473e-03,  2.74068341e-02,  2.64701433e-02,
        -4.24112715e-02, -7.41831586e-02,  3.37089896e-02,
         2.91594844e-02, -1.08413678e-02,  4.31209840e-02,
        -3.56764905e-02,  3.86151373e-02, -2.42685415e-02,
         4.46611717e-02,  2.59732548e-02, -3.76304388e-02,
        -1.67234279e-02,  8.91851541e-03, -4.96485308e-02,
         3.86639964e-03,  2.11920287e-03, -2.36586854e-02,
         3.81424055e-02, -5.30773923e-02, -5.24452142e-02,
        -6.22227229e-03, -4.15331535e-02,  3.38769220e-02,
        -1.78257823e-02, -1.35641862e-02,  2.85111722e-02,
         5.53446449e-03,  6.90381527e-02,  5.10380380e-02,
         9.22345556e-04, -1.09623149e-02, -2.87206303e-02,
         2.59865243e-02,  1.69531852e-02,  4.01202440e-02,
         3.01147960e-02,  1.59248356e-02, -2.82806084e-02,
         4.11799885e-02,  2.87408475e-02,  1.10257789e-02,
         1.26604345e-02,  3.80018540e-02,  2.69011892e-02,
        -4.17140834e-02, -1.21648498e-02, -3.76928933e-02,
        -4.06580046e-02, -3.81064452e-02, -4.26030643e-02,
         1.28311766e-02, -6.96318131e-03, -2.01339014e-02,
         2.86634322e-02, -1.10353883e-02, -4.41839248e-02,
         7.80253089e-04,  4.27031666e-02, -4.57679220e-02,
         1.61932278e-02, -3.51442881e-02,  4.67290059e-02,
        -3.49800959e-02,  1.95586327e-02, -5.83028607e-02,
         1.15779024e-02,  3.68077978e-02, -2.30936124e-03,
        -1.13489351e-03,  3.52701880e-02, -3.39744166e-02,
         1.20348157e-02, -8.30525253e-03,  5.10234982e-02,
        -3.12388912e-02, -7.52537884e-03, -3.59107889e-02,
        -3.04068048e-02,  2.86484044e-02, -6.03921711e-02,
         3.26438658e-02,  1.69529431e-02,  1.32859107e-02,
        -1.60200652e-02,  1.41947400e-02,  3.43857259e-02,
        -5.68568408e-02,  4.33792435e-02,  4.36724164e-02,
         4.44727018e-02, -6.13606051e-02,  3.20914760e-02,
         1.83352437e-02, -1.46455085e-02,  4.76447716e-02,
         2.61580627e-02, -3.03516649e-02,  2.96491925e-02,
        -3.13770808e-02,  6.34351149e-02, -1.64898038e-02,
        -6.18996732e-02, -1.27085065e-02, -1.17898202e-02,
         2.84825489e-02,  3.77607755e-02,  8.30717478e-03,
         1.36931930e-02, -1.04423938e-02,  4.41713035e-02,
        -7.64082279e-03, -3.83477733e-02, -1.15521916e-03,
        -3.97091266e-03, -3.93072404e-02,  4.22662962e-03,
         6.24182355e-03, -6.86694831e-02, -7.61212502e-03,
         3.85940337e-04, -1.79207586e-02, -6.84707658e-03,
        -3.51754054e-02, -1.83149111e-02, -7.34719634e-02,
        -4.98638079e-02, -2.94029526e-02, -2.03781724e-02,
         3.74689922e-02,  6.00487413e-03, -1.49691114e-02,
         5.38641878e-04, -1.24096056e-03,  5.12395892e-03,
         2.87031960e-02, -5.54390019e-03,  5.48132621e-02,
         2.72412337e-02,  2.44056657e-02,  8.10728874e-03,
         3.41671593e-02,  4.05266993e-02,  2.17467993e-02,
        -1.54777179e-02, -3.62418070e-02,  1.04224011e-02,
         2.36579147e-03,  2.19174884e-02,  3.10999230e-02,
        -4.46102470e-02, -6.96366653e-02,  2.27647256e-02,
         4.07429971e-02,  2.98301764e-02,  4.24729735e-02,
        -3.79574038e-02,  3.69497463e-02, -4.27811779e-02,
         3.42831574e-02, -3.69573422e-02, -2.75723096e-02,
         2.19730139e-02,  1.13826906e-02, -9.96753853e-03,
         4.05241065e-02,  4.04196866e-02, -6.46519437e-02,
         2.84010172e-02, -4.30664094e-03, -1.53392162e-02,
         8.15628748e-03,  4.27987576e-02,  3.41311912e-03,
         2.46511176e-02,  4.70294058e-03,  2.69533247e-02,
         1.88580807e-02, -4.89721522e-02,  3.67790461e-02,
        -2.47254409e-02, -5.21967746e-02,  3.88513841e-02,
         5.21400943e-03, -4.77612168e-02, -1.16386227e-01,
        -2.89213993e-02,  3.39829698e-02,  1.86222810e-02,
        -2.20516417e-02,  2.70116683e-02, -4.44738083e-02,
        -3.32826488e-02,  3.32029238e-02, -3.78521495e-02,
         1.62873731e-03,  3.76106687e-02, -2.16027815e-02,
        -7.15578394e-03, -2.51156837e-02,  4.71014790e-02,
         1.31381685e-02, -3.69888283e-02,  1.26110762e-02,
        -3.14338654e-02,  5.64537048e-02,  1.45712150e-02,
        -4.17421088e-02, -2.96028331e-02, -2.27902941e-02,
         5.34750521e-03,  4.17721793e-02,  1.04519188e-01,
        -4.29859459e-02, -8.68200324e-03, -1.12690767e-02,
        -3.31837609e-02, -1.18236449e-02, -8.16328749e-02,
         5.41131794e-02,  1.71097722e-02, -3.83566618e-02,
        -7.97246397e-02,  3.48219164e-02, -3.24652717e-02,
        -1.99682862e-02, -3.19334120e-02,  5.68726398e-02,
        -3.29810306e-02, -2.83374898e-02, -2.19120514e-02,
         1.12266103e-02, -6.60369322e-02, -2.19742414e-02,
        -9.83103812e-02,  1.90101750e-02,  4.75410484e-02,
         6.09186776e-02, -3.50758210e-02,  4.68097115e-03,
         5.66947497e-02,  6.53718086e-03,  5.07646501e-02,
         5.48827276e-03, -1.14153279e-02,  3.70779727e-03,
        -1.22275138e-02, -3.71391550e-02,  3.86273563e-02,
        -3.72892395e-02, -3.97041067e-02,  3.72510999e-02,
         8.87160003e-02,  6.86328905e-03, -4.46692146e-02,
         4.90648150e-02, -1.40429968e-02, -3.23741399e-02,
        -4.90797833e-02,  3.04208566e-02,  2.36685798e-02,
        -4.83998843e-02,  4.48947288e-02,  5.26118614e-02,
        -8.27535405e-05,  3.51345167e-02, -4.02962640e-02,
         3.36265890e-03, -3.02178971e-02, -7.28529692e-02,
         3.47969681e-02, -8.86912108e-04,  3.54850926e-02,
        -6.67024264e-03,  7.18241632e-02,  4.99601942e-04,
        -1.97659992e-02,  7.39906542e-03, -1.82707999e-02,
         6.46907762e-02, -7.14164525e-02,  2.19787747e-04,
        -6.01741346e-03, -1.52760195e-02,  6.71009198e-02,
         2.60664709e-02, -4.77364957e-02,  2.35676393e-02,
        -4.27062204e-03,  8.46965332e-03,  5.99004664e-02,
        -2.96785366e-02, -1.12818833e-02,  1.60364900e-02,
        -4.62773815e-02,  3.63326669e-02,  4.37067784e-02,
        -4.68463860e-02,  3.87935191e-02, -3.18772654e-04,
        -2.31666230e-02, -1.50328474e-02,  4.39406745e-02,
        -2.62522418e-02, -2.60346886e-02, -4.85211723e-02,
        -1.81245767e-02,  3.81502509e-02,  9.27473046e-03,
        -1.15923854e-02,  3.77663062e-03,  4.12551165e-02,
         1.00878365e-02, -3.55161652e-02,  2.58473884e-02,
        -1.66486427e-02,  8.74106959e-02,  6.10421002e-02,
        -2.81907395e-02, -1.98581126e-02,  3.60027589e-02,
        -3.77626382e-02,  4.69816849e-02, -2.27004290e-02,
        -2.21281853e-02,  5.06819263e-02,  8.11585113e-02,
         4.67526764e-02,  4.37819436e-02,  1.48810726e-02,
        -5.35603128e-02,  6.06984645e-02,  2.65982859e-02,
        -6.08555116e-02,  4.45604473e-02, -2.57203430e-02,
        -1.99204369e-04, -3.19867954e-02, -1.56608615e-02,
         7.87417404e-03,  1.75184626e-02, -4.09222357e-02,
         2.81936489e-02,  9.00178682e-03,  5.70053188e-03,
        -4.06995304e-02,  1.90397929e-02,  1.40627492e-02,
        -1.84969380e-02,  5.14450893e-02,  2.52811853e-02,
         2.61611976e-02,  1.29898693e-02,  2.64872685e-02,
        -1.11316396e-02, -1.86228063e-02,  5.23768216e-02,
        -4.25021304e-03,  7.79516771e-02,  6.76082773e-03,
        -7.85500556e-03, -4.01555710e-02, -1.79330353e-02,
         5.11533320e-02,  6.31330982e-02,  3.29583064e-02,
        -2.42038369e-02,  1.63941104e-02,  3.06018023e-03,
         1.89776942e-02,  1.53171681e-02, -7.69889653e-02,
        -2.97301114e-02, -1.79334525e-02,  1.76641140e-02,
        -3.12399715e-02, -6.69604447e-03,  1.41358674e-02,
        -1.68129597e-02,  4.90892446e-04,  3.83515805e-02,
        -5.12668528e-02, -4.15194640e-03, -1.04806628e-02,
        -2.22946852e-02,  2.45388933e-02, -1.74598433e-02,
         2.17011776e-02,  5.05032996e-03, -1.20409066e-02,
        -3.69507261e-02, -8.58487282e-03, -3.53234634e-02,
        -9.50824656e-03, -9.20620002e-03, -1.58016067e-02,
         2.29013618e-02,  1.29371388e-02,  1.25469938e-02,
         9.62031307e-04,  3.32625955e-02, -6.22311123e-02,
         3.57315354e-02, -2.22578347e-02,  2.25851573e-02,
        -8.48543271e-02,  2.13052463e-02,  4.19902615e-02,
        -2.41559092e-02, -2.99375560e-02, -3.52961309e-02,
        -5.34577109e-02,  2.82900762e-02, -4.25953157e-02,
        -8.71528778e-03, -6.08187448e-03, -4.42874134e-02,
        -4.28284146e-02,  3.35756131e-02,  1.21015450e-02,
         4.16371375e-02,  2.88969297e-02, -1.32345362e-02,
         2.92665437e-02,  6.12936681e-03, -4.25501131e-02,
         6.70707133e-03, -3.21449228e-02, -4.76803929e-02,
         2.69552786e-02,  2.90341377e-02,  3.77134234e-02,
        -6.48140609e-02,  6.34332672e-02, -6.41579926e-03,
        -3.67261842e-02, -5.20555943e-04,  3.68459225e-02,
         2.33043991e-02, -2.05731969e-02, -2.93197185e-02,
         4.25572954e-02, -3.25288549e-02, -1.01914838e-01,
         3.77049819e-02,  2.38660686e-02, -5.90828061e-03,
        -2.50338893e-02, -4.38759625e-02,  2.00793110e-02,
        -2.76546367e-02,  2.69819945e-02, -3.91320027e-02,
        -2.05896758e-02,  6.09181449e-02, -1.92580149e-02,
         1.22173592e-01, -6.28647357e-02, -2.23626681e-02,
        -4.73226495e-02,  3.14763077e-02, -3.90565116e-03,
        -1.37701686e-02,  2.71309260e-02, -4.87645390e-03,
        -3.24032083e-02,  3.23030981e-03,  4.49450919e-03,
        -4.97359186e-02, -1.67586487e-02,  3.33820097e-03,
        -3.59689705e-02,  3.34765739e-03, -6.13355450e-02,
         1.32793467e-02, -4.27174196e-02,  3.38858590e-02,
        -2.63050813e-02, -5.72178839e-03, -8.04276764e-02,
        -3.98828909e-02,  4.36572321e-02, -2.61800718e-02,
        -5.22204442e-03,  4.91948649e-02,  5.45358611e-03,
        -1.32349525e-02, -3.76902223e-02,  1.49169508e-02,
        -2.51160972e-02,  2.03875881e-02, -4.29334790e-02,
         1.21190576e-02, -6.96992408e-03,  6.15744619e-03,
         8.88925605e-03,  7.87805393e-03, -2.28657871e-02,
         2.10395921e-03,  5.79762720e-02, -4.00526747e-02,
        -9.58744262e-04, -1.51073025e-03,  3.16491537e-02,
         1.97774339e-02,  5.16659953e-03, -2.35147495e-02,
        -1.57255400e-02, -6.41526747e-03,  3.01493816e-02,
        -1.81233492e-02,  2.78482642e-02,  6.98550139e-03,
        -2.48032399e-02, -4.35818881e-02,  6.27905279e-02,
        -1.06851928e-01,  3.65137756e-02,  3.80581506e-02,
        -1.98280644e-02,  4.24692184e-02,  2.59687006e-02,
        -7.16818403e-03, -5.43215908e-02,  2.45442521e-02,
        -5.96438423e-02, -3.98729295e-02, -3.14999837e-03,
        -7.38725299e-03,  3.61230895e-02,  7.79104186e-03,
         2.20862366e-02,  1.72962826e-02, -3.14909108e-02,
        -2.15574801e-01,  3.41514647e-02, -1.31365769e-02,
        -2.61950176e-02,  3.53886164e-04, -3.35468864e-03,
        -1.75625328e-02,  1.96989290e-02,  2.36723982e-02,
         2.09786296e-02,  3.74919921e-02, -8.02379176e-02,
         5.81921861e-02, -1.39250364e-02, -3.95378098e-02,
         2.18524542e-02, -6.27719052e-03, -4.64786403e-02,
         1.70765538e-02,  1.17431525e-02, -2.95544206e-03,
         5.63306771e-02, -3.45402509e-02, -2.42380369e-02,
        -3.52785215e-02, -4.89148386e-02, -4.23150845e-02,
         2.40509454e-02,  3.79912890e-02,  3.90286222e-02,
         6.73666270e-03, -2.45051552e-03,  3.07383426e-02,
         3.13777439e-02, -2.74343267e-02,  1.75019782e-02,
        -3.03823575e-02,  6.63647382e-03, -6.97333738e-02,
         1.12428172e-02,  4.21882933e-03, -6.88528940e-02,
        -1.74538791e-02,  2.93735880e-02, -2.62463801e-02,
         7.48093799e-02, -6.40728325e-03,  1.26053048e-02,
        -3.08641922e-02, -1.97979268e-02,  5.37883006e-02,
         3.04687563e-02, -8.92163739e-02, -2.13922095e-02,
        -2.95033567e-02,  3.43570411e-02,  2.47887224e-02,
         1.45063112e-02,  5.08262068e-02, -2.66155042e-02,
         4.82789055e-02,  4.68810238e-02, -2.43621040e-02,
         3.56855914e-02, -2.11119708e-02,  1.55909642e-04,
         2.17895489e-02, -5.95876947e-02, -2.88250968e-02,
         4.05047508e-03,  1.36619704e-02, -2.82033589e-02,
        -3.26276906e-02,  5.80495074e-02,  4.65225391e-02,
        -1.19214263e-02,  2.70192176e-02, -9.56492871e-03,
        -8.33830014e-02,  2.98428088e-02, -1.66798774e-02,
        -2.17798110e-02, -1.11693433e-02,  2.31061503e-02,
        -1.68533567e-02, -3.26752625e-02,  3.62949334e-02,
         8.28083139e-03,  3.16106863e-02,  1.60665512e-02,
        -2.86038723e-02, -8.78037885e-03,  2.04741545e-02,
        -1.61808496e-03,  1.76287033e-02, -4.60783346e-03,
        -3.00847907e-02,  3.78556438e-02, -1.23188775e-02,
        -2.71184538e-02,  2.83715571e-03, -1.27610546e-02,
        -2.04636864e-02,  3.20107415e-02,  3.46112400e-02,
        -3.11202146e-02, -4.66310121e-02,  4.73830886e-02,
        -2.38422100e-02, -6.03785068e-02,  2.83239204e-02,
         2.62020733e-02,  4.86632660e-02,  4.64331417e-04,
         9.49457986e-04, -2.61395406e-02,  1.11149326e-02,
        -2.80739050e-02, -3.09200641e-02, -3.93783785e-02,
        -3.32290307e-02,  2.77442602e-03,  5.72455749e-02,
         1.79268231e-04,  5.44776544e-02, -5.09269943e-04,
        -8.44507199e-03,  2.63564475e-02,  3.28767449e-02,
         3.28039043e-02, -1.51524972e-02, -4.54264432e-02,
         7.78746679e-02, -2.27056090e-02, -5.41557744e-03,
         4.83720042e-02,  3.23606580e-02, -2.39531528e-02,
         2.69864406e-02,  2.15697903e-02,  7.40615353e-02,
        -6.40474558e-02,  1.65803917e-03,  1.44278230e-02,
        -4.08369564e-02,  1.95005704e-02,  1.96037032e-02,
        -2.08869427e-02,  4.15495895e-02, -1.04100201e-02,
        -2.50676759e-02, -8.32316577e-02, -3.38065065e-02,
        -1.74092203e-02, -3.01162452e-02,  7.90571608e-03,
         2.78408919e-03,  1.30682094e-02, -3.17530036e-02,
         2.27898676e-02, -4.18325514e-02, -3.53863761e-02,
         3.69474962e-02,  2.67261546e-02,  1.61593724e-02,
         5.64749027e-03, -2.21584528e-03, -8.04931670e-03,
         4.13561687e-02,  2.66142543e-02, -1.77253671e-02,
        -9.25941672e-03,  4.87064049e-02,  5.44931414e-03,
         2.55177058e-02, -1.64157581e-02,  4.74485010e-02,
        -5.66086471e-02, -5.27970120e-02,  3.62193026e-02]], dtype=float32)

Then, we would either need to run this over all the dataframes rows, which is not wrong, but will take some time that we need ;)

Therefore we are going to create the embeddings in a separate file, associated with a title. Since there are onlt 266 products, we dont need more than that. But now is the part where we make our first decision. Either we do some feature engineering for creating a new df which contains unique visitID clicks, append all the products clicked in just one big string, and then perform the embeddings process, or, we can create the embeddings for the 266 products and then create some average. The first process seems more accurate but will take longer, and the second one is going to take less but could be less straightforward. 

We are going then to take both approaches to see where both go.

### First Approach - Concatenate Likes and Embed the  "Like List"

In [10]:
# Group by 'visitId' and aggregate 'Product name' using text join
grouped_df = (
    df.groupby("visitId")["ProductName"].apply(lambda x: ", ".join(x)).reset_index()
)

# Rename the aggregated column
grouped_df.rename(columns={"ProductName": "Clicks"}, inplace=True)

print(grouped_df)

         visitId                                             Clicks
0     1470035161                                  Google Power Bank
1     1470035457                         Deluge Waterproof Backpack
2     1470035521  Seat Pack Organizer, Seat Pack Organizer, Seat...
3     1470035892  Google Men's 100% Cotton Short Sleeve Hero Tee...
4     1470036291  Google Men's 100% Cotton Short Sleeve Hero Tee...
...          ...                                                ...
4630  1470896943  Google Toddler Tee Fruit Games Pineapple, Goog...
4631  1470896966  Google Canvas Tote Natural/Navy, Mistral Rucks...
4632  1470897377      Google Women's Lightweight Microfleece Jacket
4633  1470897905  Google Men's 100% Cotton Short Sleeve Hero Tee...
4634  1470897937          Google Women's Performance Golf Polo Blue

[4635 rows x 2 columns]

In [ ]:
from tqdm.notebook import tqdm_notebook

tqdm_notebook.pandas()  # fancy progress Bar

grouped_df["Embedings"] = grouped_df.Clicks.progress_apply(
    lambda x: model.create_embeddings(x)
)  # Make the embeddings for the Clicks column

In [54]:
grouped_df.Embeddings  # The embeddings

0       [[0.021230968, 0.06723951, -0.03646528, -0.005...
1       [[0.021318657, 0.04240716, -0.007994821, 0.004...
2       [[0.002186621, 0.051950835, -0.004776678, 0.02...
3       [[0.00616312, 0.04824848, -0.035558887, 0.0190...
4       [[-9.8550074e-05, 0.034511797, -0.016930008, 0...
                              ...
4630    [[0.0056050452, 0.029619096, -0.017937213, 0.0...
4631    [[0.02744697, 0.05886887, -0.022487251, 0.0082...
4632    [[0.010117159, 0.042951882, -0.020193057, -0.0...
4633    [[0.0072451867, 0.036614206, -0.039741036, 0.0...
4634    [[0.02905081, 0.046681486, -0.016705029, 0.021...
Name: Embeddings, Length: 4635, dtype: object

### Second Approach - Create our Embeddings Master File

In [ ]:
tqdm_notebook.pandas()

inv_df = pd.DataFrame(
    [clicks_df.ProductName.unique(), clicks_df["ProductName"].value_counts()]
).T  # Products that have being clicked
inv_df.rename({0: "Product", 1: "Count"}, axis=1, inplace=True)

inv_df["Embeddings"] = inv_df.Product.progress_apply(model.create_embeddings)

In [59]:
inv_df.Embeddings

0      [[0.014249629, 0.023254616, -0.006114072, 0.00...
1      [[0.03786302, 0.03239363, -0.00020421806, 0.02...
2      [[0.00114997, 0.03650656, -0.035562657, 0.0202...
3      [[0.028030083, 0.038984273, -0.02813911, 0.034...
4      [[0.015068452, 0.05567977, -0.016779918, 0.011...
                             ...
261    [[0.021007422, 0.04520183, -0.023061385, 0.041...
262    [[0.013173798, 0.00889726, -0.012541152, 0.015...
263    [[0.008392215, 0.055684857, -0.011121839, -0.0...
264    [[-0.01466453, 0.04144204, -0.04656081, 0.0284...
265    [[0.0017286192, 0.04235564, -0.026112005, 0.01...
Name: Embeddings, Length: 266, dtype: object

In [17]:
## Now use this inv_df and original df to make a new df containing the embeddings.

clicks_df.rename({"ProductName": "Product"}, axis=1, inplace=1)

clicks_df = pd.merge(
    inv_df[["Product", "Embeddings"]], clicks_df, on="Product", how="right")

clicks_df

/var/folders/kr/9nlwnrjj3fl33l2k5m7w4snh0000gp/T/ipykernel_70202/589763138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clicks_df.rename({'ProductName':'Product'},axis=1,inplace=1)

,Product,Embeddings,visitNumber,visitId,visitStartTime,date,total_visits,total_hits,total_pageviews,total_timeOnSite,...,Category,Variant,ProductList,transactionId,Revenue,itemTransactionId,Click,TotalPaid,Price,Quantity
0,Oasis Backpack,"[[0.014249629, 0.023254616, -0.006114072, 0.00...",2,1470857552,1470857552,20160810,1,5,4,125.0,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,99.99,NaN
1,Set of 3 Nested Travel Cases,"[[0.03786302, 0.03239363, -0.00020421806, 0.02...",1,1470862136,1470862136,20160810,1,5,4,341.0,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,8.79,NaN
2,YouTube Men's Short Sleeve Hero Tee Black,"[[0.00114997, 0.03650656, -0.035562657, 0.0202...",1,1470848713,1470848713,20160810,1,6,5,106.0,...,Home/Apparel/Men's/Men's-T-Shirts/,(not set),Category,NaN,0.0,NaN,True,0.0,16.99,NaN
3,Maze Pen,"[[0.028030083, 0.038984273, -0.02813911, 0.034...",4,1470815734,1470815734,20160810,1,6,3,8.0,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN
4,Maze Pen,"[[0.028030083, 0.038984273, -0.02813911, 0.034...",4,1470815734,1470815734,20160810,1,6,3,8.0,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20873,Google Women's Hero V-Neck Tee White,"[[0.018843824, 0.053733025, -0.02561408, 0.008...",7,1470120798,1470120798,20160801,1,34,18,300.0,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
20874,Google Women's Hero V-Neck Tee White,"[[0.018843824, 0.053733025, -0.02561408, 0.008...",7,1470120798,1470120798,20160801,1,34,18,300.0,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
20875,Google Women's Short Sleeve Hero Tee White,"[[-5.1616345e-05, 0.047178693, -0.030958962, 0...",7,1470120798,1470120798,20160801,1,34,18,300.0,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,17.99,NaN
20876,Google Women's Short Sleeve V-Neck Tee Lavender,"[[0.01456775, 0.050580125, -0.034778133, 0.027...",7,1470120798,1470120798,20160801,1,34,18,300.0,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
20877,Google Women's Fleece Hoodie,"[[0.01493587, 0.05140108, -0.021872329, 0.0094...",7,1470120798,1470120798,20160801,1,34,18,300.0,...,Home/Apparel/Women's/Women's-Outerwear/,(not set),(not set),NaN,0.0,NaN,True,0.0,55.99,NaN

In [ ]:
##  Now we store pur embeddings so that we dont do the same all over again

import os

inv_df.to_hdf("google data/embeddings/inventory_embeddings.h5", key="data", mode="w")
grouped_df.to_hdf("google data/embeddings/likes_embeddings.h5", key="data", mode="w")

-------
## Second phase of the walkthrough here with the embeddings completed.

We can start directly her eif the embeddings is not in what we are interested in.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("google data/data.csv")
clicks_df = df.loc[df.Click == True]  # Original df

inv_df = pd.read_hdf(
    "google data/embeddings/inventory_embeddings.h5", key="data")  # Embeddings
likes_df = pd.read_hdf(
    "google data/embeddings/likes_embeddings.h5", key="data")  # Embeddings

clicks_df.rename({"ProductName": "Product"}, axis=1, inplace=1)
clicks_df = pd.merge(
    inv_df[["Product", "Embeddings"]], clicks_df, on="Product", how="right")

# Superior DF Creation

df = clicks_df.groupby("visitId")["Embeddings"].apply(
    np.mean)  # Apply a mean to embeddings across products clicked on the same session
df = df.reset_index()
df.columns = ["visitId", "Embeddings"]

features_list = [
    "visitId",
    "visitNumber",
    "total_visits",
    "total_hits",
    "Price",
    "total_timeOnSite",
    "total_newVisits",
    "total_pageviews",
]

df = pd.merge(df, clicks_df.loc[:, features_list], on="visitId", how="left")
df.drop_duplicates(subset="visitId", inplace=True)
df.reset_index(drop=True, inplace=True)

In [3]:
df.head()

,visitId,Embeddings,visitNumber,total_visits,total_hits,Price,total_timeOnSite,total_newVisits,total_pageviews
0,1470035161,"[[0.021230968, 0.06723951, -0.03646528, -0.005...",1,1,9,16.99,89.0,1.0,7
1,1470035457,"[[0.021318657, 0.04240716, -0.007994821, 0.004...",3,1,7,99.99,421.0,NaN,5
2,1470035521,"[[0.022162948, 0.049151335, -0.013284831, 0.02...",1,1,53,11.99,755.0,1.0,36
3,1470035892,"[[0.00616312, 0.04824848, -0.035558887, 0.0190...",1,1,8,16.99,82.0,1.0,6
4,1470036291,"[[0.0071259676, 0.043269128, -0.0370314, 0.012...",7,1,33,16.99,465.0,NaN,20

Now we need to implement something that creates a scoring based on the behavioral features. This way, the recommendation process will have more sense. In this use case, we are going to use the original to extract a scoring function using a "sell" as the target variable that we want to predict. This is the general objective of the e-commerce use case. You may think of how are we going to create a score based on this. 

The answer comes as a trick in transforming the data. We are going to take one set of data that contains visit ID who end up in purchases and cases in which are not. Then using a classic sigmoid head at the end of whatever our model is going to be, we end up getting the probabilities of one visit ID ending up in a purchase, which turns this also into a binary classification problem. Our score is going to be the probability that ends up in a selling.

In [10]:
data = pd.read_csv("google data/data.csv")
data

,visitNumber,visitId,visitStartTime,date,total_visits,total_hits,total_pageviews,total_timeOnSite,total_bounces,total_newVisits,...,Category,Variant,ProductList,transactionId,Revenue,itemTransactionId,Click,TotalPaid,Price,Quantity
0,2,1470857552,1470857552,20160810,1,5,4,125.0,NaN,NaN,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,99.99,NaN
1,1,1470862136,1470862136,20160810,1,5,4,341.0,NaN,1.0,...,Home/Limited Supply/Bags/,(not set),Category,NaN,0.0,NaN,True,0.0,8.79,NaN
2,1,1470848713,1470848713,20160810,1,6,5,106.0,NaN,1.0,...,Home/Apparel/Men's/Men's-T-Shirts/,(not set),Category,NaN,0.0,NaN,True,0.0,16.99,NaN
3,4,1470815734,1470815734,20160810,1,6,3,8.0,NaN,NaN,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN
4,4,1470815734,1470815734,20160810,1,6,3,8.0,NaN,NaN,...,Home/Office/,(not set),Category,NaN,0.0,NaN,True,0.0,0.99,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22817,7,1470120798,1470120798,20160801,1,34,18,300.0,NaN,NaN,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
22818,7,1470120798,1470120798,20160801,1,34,18,300.0,NaN,NaN,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
22819,7,1470120798,1470120798,20160801,1,34,18,300.0,NaN,NaN,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,17.99,NaN
22820,7,1470120798,1470120798,20160801,1,34,18,300.0,NaN,NaN,...,Home/Apparel/Women's/Women's-T-Shirts/,(not set),(not set),NaN,0.0,NaN,True,0.0,16.99,NaN
22821,7,1470120798,1470120798,20160801,1,34,18,300.0,NaN,NaN,...,Home/Apparel/Women's/Women's-Outerwear/,(not set),(not set),NaN,0.0,NaN,True,0.0,55.99,NaN

In [16]:
data_y

         visitId  Revenue
0     1470035161      0.0
1     1470035457      0.0
2     1470035521      0.0
3     1470035892      0.0
4     1470036291      0.0
...          ...      ...
4630  1470896943      0.0
4631  1470896966      0.0
4632  1470897377      0.0
4633  1470897905      0.0
4634  1470897937      0.0

[4635 rows x 2 columns]

In [9]:
data = pd.read_csv("google data/data.csv") # read data with both purchases and viewed articles mixed.

features_list = [
    "visitId",
    "visitNumber",
    "total_visits",
    "total_hits",
    "Price",
    "total_timeOnSite",
    "total_newVisits",
    "total_pageviews",
]

# Group by 'visitId' and aggregate 'Product name' using text join
data_x = data.groupby("visitId")["ProductName"].apply(lambda x: ", ".join(x)).reset_index()

# Group by visitid and aggregate 'Revenue'

data_y = data.groupby("visitId")["Revenue"].apply(np.sum).reset_index()

# Rename the aggregated column
data_x.rename(columns={"ProductName": "Clicks"}, inplace=True)

data = pd.merge(data_x,data.loc[:,features_list],on='visitId',how='left').drop_duplicates(subset='visitId').reset_index(drop=True)
data = pd.merge(data_y,)
data

,visitId,Clicks,visitNumber,total_visits,total_hits,Price,total_timeOnSite,total_newVisits,total_pageviews
0,1470035161,Google Power Bank,1,1,9,16.99,89.0,1.0,7
1,1470035457,Deluge Waterproof Backpack,3,1,7,99.99,421.0,NaN,5
2,1470035521,"Seat Pack Organizer, Seat Pack Organizer, Seat...",1,1,53,11.99,755.0,1.0,36
3,1470035892,Google Men's 100% Cotton Short Sleeve Hero Tee...,1,1,8,16.99,82.0,1.0,6
4,1470036291,Google Men's 100% Cotton Short Sleeve Hero Tee...,7,1,33,16.99,465.0,NaN,20
...,...,...,...,...,...,...,...,...,...
4630,1470896943,"Google Toddler Tee Fruit Games Pineapple, Goog...",1,1,15,23.99,178.0,1.0,7
4631,1470896966,"Google Canvas Tote Natural/Navy, Mistral Rucks...",1,1,12,15.99,240.0,1.0,9
4632,1470897377,Google Women's Lightweight Microfleece Jacket,2,1,3,74.99,25.0,NaN,2
4633,1470897905,Google Men's 100% Cotton Short Sleeve Hero Tee...,2,1,13,16.99,249.0,NaN,12
4634,1470897937,Google Women's Performance Golf Polo Blue,1,1,5,57.99,124.0,1.0,4